<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RTGS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <sessionState timeout="1" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <!--<forms name=".ASPXFORMSAUTH" loginUrl="login.aspx" protection="All" path="/" />-->
      <forms name=".ASPXFORMSAUTH" loginUrl="login.aspx" protection="All" timeout="600" slidingExpiration="true" path="/" cookieless="UseCookies" requireSSL="false"/>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="DBServer" value="." />
	<!--<add key="DBServer" value="DESKTOP-LJLI380\MSSQLSERVER16" />-->
    <add key="ADServer" value="." />
    <add key="ADLogin" value="False" />
    <add key="LocalSTPPath" value="D:\FloraRTGSFiles" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
   <add key="StringPattern" value="[^0-9a-zA-Z+-.() * ]+" />
    <!--<add key="StringPattern" value="([^/]+/)+([^/]+)|([^/]*)" />-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <RTGS.Properties.Settings>
      <setting name="RTGS_RTGSWS_Service1" serializeAs="String">
        <value>http://localhost/FloraRTGSWS/Service1.asmx</value>
      </setting>
    </RTGS.Properties.Settings>
  </applicationSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>